#letras {
    background-color: aqua;
}
#titulo {
    color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#but {
    color: black;
    background-color: pink;
}
#letras {
    color: black;
    background-color: pink;
}
#pala {
    color: blue;
}
